.nav {
    grid-area: nv;
    background: linear-gradient(to top, #fefcea, #f1da36);
    padding: 20px;
}
.item a{
    color: blue;
    font-size: 30px;
    text-decoration: none;

}.item a.active {
    color: red;
}
