.app-wrapper {
    margin: 0 auto;
    width: 85%;

    display: grid;
    grid-template-areas:
            "hdr hdr"
            "nv ctx";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
}
